@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=PT+Serif:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=PT+Serif:ital,wght@1,400;1,700&family=Stylish&display=swap');
*{
    margin: 0px 0px;

}
body::before{
    background: url('w5.webp') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.6; */
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    padding: 12px 30px;
    position: relative;
    /* background-color:white */
}
.container x-axis{
    
}
.box{
    border: 3px solid rgb(255, 253, 253);
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    /* background-color: rgb(36, 35, 37); */
    cursor: pointer;
}
.gamecontainer{
    /*width: ;*/
    /* background-color: yellow; */
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
}
.gameinfo {
    /* display: flex; */
    font-family: 'Lily Script One', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Stylish', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

/* .gamecontainer{
    display: flex;
    flex-wrap: wrap;
} */
.info{
    font-size: 34px;
}
.image img{
    width: 0;
    transition: width 1s ease-in-out;
}
h1{
    text-shadow: 6px 2px #665b91;
    color: whitesmoke;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: 'Lily Script One', cursive;
font-family: 'PT Serif', serif;
font-weight: 900;
align-items: center;
padding: 12px 12px;

}
/* .win{
    height: 0vw;
    width: 6vw;
    margin-left: 0px;
    margin-top: 0px;
    transition: height 1s ease-in-out;

} */
nav ul{
    list-style-type: none;
   
}
#reset{
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px;
    margin-left: 18px;
    font-size: 20px;
    box-shadow: 2px 2px;
    color: rgb(20, 6, 28);
}
.line{
    background-color:rgb(173 40 126);
    width: 0vw;
    height: 6px;
    border-radius: 10px; 
    position: absolute;
    transition: width 1s ease-out;
}


.bt-0{
    border-top: 0px;
}
.bl-0{
    border-left: 0px;
}
.bb-0{
    border-bottom: 0px;
}
.br-0{
    border-right: 0px;
}

@media screen and (max-width:500px) {
    .gamecontainer{
        display: flex;
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 35px;
        
    }
    .gameinfo h1,.info{
        font-size: 1.3rem;
    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
       

    }
    /* .line{
        width: 63vw;
    transform: translate(5vw, 31vw) rotate(45deg);
    } */
}
